:root {
  --background-color: #d1d3d4;
  --board-background-color: #034694;
  --board-border-color: #dba111;
  --panel-background-color: lightgoldenrodyellow;
  --panel-border-color: #dba111;

  --footer-button-background-color: #lightblue;
  --footer-button-background-color-hover: #034694;
  --footer-button-border: #dba111;

  --player-no-player: white;
  --player-player1: #ee242c;
  --player-player2: #6a7ab5;
}

body {
  background-color: var(--background-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app-container {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -400px;
}

.panel {
  position: absolute;
  background-color: var(--panel-background-color);
  border: 8px solid var(--panel-border-color);
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.header {
  left: 50%;
  top: 85px;
  height: 80px;
  width: 300px;
  margin-left: -120px;
  border-radius: 20px;
}

.header-text {
  font-size: 30px;
  font-weight: bold;
  width: 220px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  left: 50%;
  top: 690px;
  height: 80px;
  width: 300px;
  margin-left: -120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;
}

.footer button {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 15px;
  width: 130px;
  height: 50px;
  background-color: var(--footer-button-background-color);
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
  box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
  border: 5px solid var(--footer-button-border);
  font-weight: bold;
  border-radius: 20px;
}

.footer button:hover {
  background-color: var(--footer-button-background-color-hover);
  color: white;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 20%;
  background-color: var(--board-background-color);
  border: 8px solid var(--board-border-color);
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

.player_0 {
  background-color: var(--player-no-player);
}

.player_1 {
  background-color: var(--player-player1);
}

.player_2 {
  background-color: var(--player-player2);
}
